<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	name="ReleaseWP"
	xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

	<description>PHPCS rules for ReleaseWP.</description>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>

	<file>releasewp.php</file>
	<file>includes/</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>Parsedown.php</exclude-pattern>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="releasewp"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="releasewp"/>
				<element value="ReleaseWP"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.0"/>

</ruleset>
