includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - releasewp.php
        - includes/
    excludePaths:
        - Parsedown.php
        - vendor/
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - Parsedown.php
    treatPhpDocTypesAsCertain: false
